In [9]:
56*4

224

In [10]:
2**3

8

In [11]:
2**15

32768

In [ ]:
3 * 4 + 6 - 6 / 2

# PEMDAS parenthesis exponent multiplication division addition subtraction

In [13]:
(3+4) * 5

35

In [14]:
3+4*5

23

# Variables & Inputs

In [15]:
var = 30
var

30

In [17]:
var + 5

35

In [18]:
var ** 2

900

In [19]:
value = input("Enter a value: ")

Enter a value: 50

In [21]:
value

'50'

In [24]:
value + '45'

'5045'

In [25]:
value = int(input("Enter an input: "))

Enter an input: 60

In [26]:
value + 5

65

# Lists

In [31]:
courses = ['History', 'Math', 'Physics', 'Compsci']
print(courses)

['History', 'Math', 'Physics', 'Compsci']

In [33]:
courses = ['History', 'Math', 'Physics', 'Compsci']
print(courses[3])

Compsci

In [32]:
courses = ['History', 'Math', 'Phhysics', 'Compsci']
print(courses[-1])

Compsci

In [34]:
courses = ['History', 'Math', 'Phhysics', 'Compsci']
print(courses[0:2])

['History', 'Math']

In [36]:
courses = ['History', 'Math', 'Phhysics', 'Compsci']
print(courses[:2])

['History', 'Math']

In [38]:
courses = ['History', 'Math', 'Phhysics', 'Compsci']
print(courses[2:])

['Phhysics', 'Compsci']

In [41]:
courses.append('Art')
print(courses)

['History', 'Math', 'Phhysics', 'Compsci', 'Art', 'Art', 'Art']

In [42]:
courses.insert(0, 'Art')
print(courses)

['Art', 'History', 'Math', 'Phhysics', 'Compsci', 'Art', 'Art', 'Art']

In [44]:
courses_2 = ['Art', 'Education']
courses.insert(0, courses_2)
print(courses)

[['Art', 'Education'], ['Art', 'Education'], 'Art', 'History', 'Math', 'Phhysics', 'Compsci', 'Art', 'Art', 'Art']

In [45]:
print(courses[0])

['Art', 'Education']

In [46]:
courses.extend(courses_2)
print(courses)

[['Art', 'Education'], ['Art', 'Education'], 'Art', 'History', 'Math', 'Phhysics', 'Compsci', 'Art', 'Art', 'Art', 'Art', 'Education']

In [47]:
courses.remove('Math')
print(courses)

[['Art', 'Education'], ['Art', 'Education'], 'Art', 'History', 'Phhysics', 'Compsci', 'Art', 'Art', 'Art', 'Art', 'Education']

In [50]:
courses.pop()
print(courses)

[['Art', 'Education'], ['Art', 'Education'], 'Art', 'History', 'Phhysics', 'Compsci', 'Art', 'Art']

In [51]:
popped = courses.pop()
print(popped)
print(courses)

Art
[['Art', 'Education'], ['Art', 'Education'], 'Art', 'History', 'Phhysics', 'Compsci', 'Art']

In [72]:
courses = ['History', 'Math', 'Physics', 'Compsci']
print(courses)

['History', 'Math', 'Physics', 'Compsci']

In [73]:
courses.reverse()
print(courses)

['Compsci', 'Physics', 'Math', 'History']

In [74]:
courses.sort()
print(courses)

['Compsci', 'History', 'Math', 'Physics']

In [75]:
courses = ['History', 'Math', 'Physics', 'Compsci']
nums = [1, 5, 2, 4, 3]

courses.sort()
nums.sort()

print(courses)
print(nums)

['Compsci', 'History', 'Math', 'Physics']
[1, 2, 3, 4, 5]

In [76]:
courses = ['History', 'Math', 'Physics', 'Compsci']
nums = [1, 5, 2, 4, 3]

courses.sort(reverse=True)
nums.sort(reverse=True)

print(courses)
print(nums)

['Physics', 'Math', 'History', 'Compsci']
[5, 4, 3, 2, 1]

## Sorting using the sorted function

In [78]:
courses = ['History', 'Math', 'Physics', 'Compsci']
nums = [1, 5, 2, 4, 3]

sorted_courses = sorted(courses)

print(sorted_courses)
#print(nums)

['Compsci', 'History', 'Math', 'Physics']

In [81]:
courses = ['History', 'Math', 'Physics', 'Compsci']
nums = [1, 5, 2, 4, 3]

sorted_courses = sorted(courses)

#print(sorted_courses)
print(max(nums))
print(min(nums))
print(sum(nums))

5
1
15

In [84]:
courses = ['History', 'Math', 'Physics', 'Compsci']
print(courses.index('Math'))

1

In [85]:
courses = ['History', 'Math', 'Physics', 'Compsci']
print('Math'in courses)
print('Art' in courses)

True
False

In [86]:
courses = ['History', 'Math', 'Physics', 'Compsci']

for course in courses:
    print(course)

History
Math
Physics
Compsci

In [89]:
courses = ['History', 'Math', 'Physics', 'Compsci']

for index, course in enumerate(courses, start=1):
    print(index, course)

1 History
2 Math
3 Physics
4 Compsci

In [90]:
courses = ['History', 'Math', 'Physics', 'Compsci']

course_str = ', '.join(courses)

print(course_str)

History, Math, Physics, Compsci

In [93]:
courses = ['History', 'Math', 'Physics', 'Compsci']

course_str = ' - '.join(courses)
new_list = course_str.split(' - ')

print(course_str)
print(new_list)

History - Math - Physics - Compsci
['History', 'Math', 'Physics', 'Compsci']

# Tuples & Sets

In [95]:
#Mutable
list_1 = ['History', 'Math', 'Physics', 'Compsci']
list_2 = list_1

print(list_1)
print(list_2)

list_1[0] = 'Art'

print(list_1)
print(list_2)

['History', 'Math', 'Physics', 'Compsci']
['History', 'Math', 'Physics', 'Compsci']
['Art', 'Math', 'Physics', 'Compsci']
['Art', 'Math', 'Physics', 'Compsci']

In [100]:
#Immutable
tuple_1 = ('History', 'Math', 'Physics', 'Compsci') 
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

tuple_1[0] = 'Art'

print(tuple_1)
print(tuple_2)

('History', 'Math', 'Physics', 'Compsci')
('History', 'Math', 'Physics', 'Compsci')

TypeError: 'tuple' object does not support item assignment

In [106]:
cs_courses = {'History', 'Math', 'Physics', 'Compsci'}

print(cs_courses)

{'History', 'Compsci', 'Math', 'Physics'}

## Sets removes duplicates

In [108]:
cs_courses = {'History', 'Math', 'Physics', 'Compsci', 'Math'}

print(cs_courses)

{'History', 'Compsci', 'Math', 'Physics'}

In [110]:
cs_courses = {'History', 'Math', 'Physics', 'Compsci', 'Math'}

print('Math' in cs_courses)

True

In [112]:
cs_courses = {'History', 'Math', 'Physics', 'Compsci'}
art_courses = {'History', 'Math', 'Art', 'Design'}

print(cs_courses.intersection(art_courses))

{'History', 'Math'}

In [114]:
cs_courses = {'History', 'Math', 'Physics', 'Compsci'}
art_courses = {'History', 'Math', 'Art', 'Design'}

print(cs_courses.difference(art_courses))

{'Compsci', 'Physics'}

In [115]:
cs_courses = {'History', 'Math', 'Physics', 'Compsci'}
art_courses = {'History', 'Math', 'Art', 'Design'}

print(cs_courses.union(art_courses))

{'History', 'Compsci', 'Art', 'Math', 'Physics', 'Design'}

## Creating empty lists, tuples and sets

In [116]:
#Empty lists
empty_list = []
empty_list = list()

#Empty Tuples
empty_tuple = ()
empty_tuple = tuple()

#Empty Sets
empty = {} # This is wrong, it will create a dict
empty = set()

# Dictionaries

In [123]:
student = {'name':'John', 'Age': 25, 'Courses': ['Math', 'CompSci']}
print(student)
print(student['Age'])
print(student.get('phone')) #customizing to avoid key error
print(student.get('number', 'Not Found'))

{'name': 'John', 'Age': 25, 'Courses': ['Math', 'CompSci']}
25
None
Not Found

In [126]:
student['phone'] = '555-5555' #Adding new
student['name'] = 'Paul' #Updating
print(student)
# print(student.get('phone'))

{'name': 'Paul', 'Age': 25, 'Courses': ['Math', 'CompSci'], 'phone': '555-5555'}

In [129]:
student.update({'name':'Muhia', 'Age': 26, 'phone': '671-2345'}) #update method
print(student)

{'name': 'Muhia', 'Age': 26, 'Courses': ['Math', 'CompSci'], 'phone': '671-2345', 'age': 26}

In [131]:
# Deleting
student = {'name':'John', 'Age': 25, 'Courses': ['Math', 'CompSci']}
del student['Age']
print(student)

{'name': 'John', 'Courses': ['Math', 'CompSci']}

In [136]:
# Pop delete method
student = {'name':'John', 'Age': 25, 'Courses': ['Math', 'CompSci']}
popped = student.pop('Age')
print(student)
print(popped)

{'name': 'John', 'Courses': ['Math', 'CompSci']}
25

In [142]:
student = {'name':'John', 'Age': 25, 'Courses': ['Math', 'CompSci']}
print(len(student)) #length
print(student.values()) #Values
print(student.keys()) # Keys
print(student.items())
print(student)

3
dict_values(['John', 25, ['Math', 'CompSci']])
dict_keys(['name', 'Age', 'Courses'])
dict_items([('name', 'John'), ('Age', 25), ('Courses', ['Math', 'CompSci'])])
{'name': 'John', 'Age': 25, 'Courses': ['Math', 'CompSci']}

In [147]:
student = {'name':'John', 'Age': 25, 'Courses': ['Math', 'CompSci']}

for key, value in student.items():
    print(key, value)
    print(value, key)

name John
John name
Age 25
25 Age
Courses ['Math', 'CompSci']
['Math', 'CompSci'] Courses

# Conditions & Boolean

In [150]:
language = 'Java'

if language == 'Python':
    print('Language is Python')
    
elif language == 'Java':
    print('Language is Java')
    
else:
    print('No match')

Language is Java

In [155]:
# Switch case accomplished using elif
language = 'Html'

if language == 'Python':
    print('Language is Python') 
    
elif language == 'Java':
    print('Language is Java')
    
elif language == 'Html':
    print('Language is Html')
    
elif language == 'JavaScript':
    print('Language is JavaScript')

else:
    print('No match')

Language is Html

In [159]:
#Boolean
user = 'Admin'
logged_in = False

if user == 'Admin' and logged_in:
    print('Admin Page')
else:
    print('Bad Creds')

Admin Page

In [161]:
user = 'Admin'
logged_in = True

if not logged_in:
    print('Please log in')
else:
    print('Welcome')

Welcome

# Loops & Interations

In [163]:
nums = [1,2,3,4,5]

for num in nums:
    print(num)

1
2
3
4
5

In [164]:
nums = [1,2,3,4,5]

for num in nums:
    if num == 3:
        print('Found')
        break
    print(num)

1
2
Found

In [165]:
nums = [1,2,3,4,5]

for num in nums:
    if num == 3:
        print('Found')
        continue
    print(num)

1
2
Found
4
5

In [166]:
nums = [1,2,3,4,5]

for num in nums:
    for letter in 'abc':
        print(num, letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

# File Operations

In [168]:
f = open('test.txt', 'r')

print(f.name)
print(f.mode)

f.close()

test.txt
r

In [174]:
# Opening files the right way(contents managers)
with open('test.txt', 'r') as f:
    f_contents = f.read()
    print(f_contents)

1) This is a test file!
2) with multiple lines of data...
3) Third line
4) Fourth line
5) Fifth line
6) Sixth line
7) Seventh line
8) Eighth line
9) Ninth line
10) Tenth line

In [176]:
# Opening files the right way(contents managers)
with open('test.txt', 'r') as f:
    f_contents = f.readlines()
    print(f_contents)

['1) This is a test file!\n', '2) with multiple lines of data...\n', '3) Third line\n', '4) Fourth line\n', '5) Fifth line\n', '6) Sixth line\n', '7) Seventh line\n', '8) Eighth line\n', '9) Ninth line\n', '10) Tenth line']

In [177]:
# Opening files the right way(contents managers)
with open('test.txt', 'r') as f:
    f_contents = f.readline() #readline reads a single line
    print(f_contents)

1) This is a test file!

In [180]:
# Opening files the right way(contents managers)
with open('test.txt', 'r') as f:
    f_contents = f.readline()
    print(f_contents, end='') #end removes the new line
    
    f_contents = f.readline()
    print(f_contents)

1) This is a test file!
2) with multiple lines of data...

In [182]:
# Opening files the right way(contents managers)
#more efficient as it does not read all the lines at the same time so no memory issues
with open('test.txt', 'r') as f:
    
    for line in f:
        print(line, end='')
    
#     f_contents = f.readline()
#     print(f_contents)

1) This is a test file!
2) with multiple lines of data...
3) Third line
4) Fourth line
5) Fifth line
6) Sixth line
7) Seventh line
8) Eighth line
9) Ninth line
10) Tenth line

In [188]:
with open('test.txt', 'r') as f:
    
    f_contents = f.read(50) #reads first 50 characters
    print(f_contents)
    
    f_contents = f.read(150)
    print(f_contents)

1) This is a test file!
2) with multiple lines of
data...
3) Third line
4) Fourth line
5) Fifth line
6) Sixth line
7) Seventh line
8) Eighth line
9) Ninth line
10) Tenth line

In [190]:

with open('test.txt', 'r') as f:
    
    size_to_read = 100
    
    f_contents = f.read(size_to_read)
    
    print(f_contents)

1) This is a test file!
2) with multiple lines of data...
3) Third line
4) Fourth line
5) Fifth line

In [197]:
#when u dont know exact characters
with open('test.txt', 'r') as f:
    
    size_to_read = 10
    
    f_contents = f.read(size_to_read)
    
    while len(f_contents) > 0:
        print(f_contents, end='')
        f_contents = f.read(size_to_read)

1) This is a test file!
2) with multiple lines of data...
3) Third line
4) Fourth line
5) Fifth line
6) Sixth line
7) Seventh line
8) Eighth line
9) Ninth line
10) Tenth line

In [205]:
# fSEEK() TO CHOOSE position where reading of file occurs
with open('test.txt', 'r') as f:
    
    size_to_read = 10
    
    f_contents = f.read(size_to_read) 
    print(f_contents, end='')
    
    f.seek(0)
    
    f_contents = f.read(size_to_read) 
    print(f_contents)

1) This is1) This is

In [211]:
# Writing to files
with open('test2.txt', 'w') as f:
    f.write('Test')
    f.write('Test')

In [214]:
# Writing to files
with open('test2.txt', 'w') as f:
    f.write('Test')
    f.seek(0)
    f.write('PAul')

In [216]:
# Writing to files
# here f.seek is a little bit confusing
with open('test2.txt', 'w') as f:
    f.write('Test')
    f.seek(0)
    f.write('R')

In [218]:
with open('test.txt', 'r') as rf:
    with open('test_copy.txt', 'w') as wf:
        for line in rf:
            wf.write(line)

In [222]:
#use binary mode for pictures
with open('photoshop.PNG', 'rb') as rf:
    with open('photoshop_copy.PNG', 'wb') as wf:
        for line in rf:
            wf.write(line)

In [226]:
#use binary mode for pictures
# using memory efficient method
with open('photoshop.PNG', 'rb') as rf:
    with open('photoshop_copy.PNG', 'wb') as wf:
        chunk_size = 4096
        rf_chunk = rf.read(chunk_size)
        while len(rf_chunk) > 0:
            wf.write(rf_chunk)
            rf_chunk = rf.read(chunk_size)

#### Q1) Suppose my_word is [‘h’,’e’,’l’,’l’,’o’], what is len(my_word)?

In [ ]:
my_word = ['h', 'e','l','l','o']
print(len(my_word))

Q2) To add a new element to a list we use which command ?

###### append()

# Multiple Choice
1 point possible (graded)
Q1) Which of the following statements create a dictionary?

In [2]:
d = {"john": 40, "peter": 45}
print(d["john"])

40

#### What is the output of the following?

In [3]:
i = 0
if i < 3:
    print(i)
else:
    print("Greater than 0")

0